// fonts //

$title: 'Delius Unicase', cursive;
$title1: 'Roboto', sans-serif;

// font size //

$titleFS: 36px;
$title1FS: 20px;

// font weight //

$titleFW: 400;
$nameFW: 500;
$dateFW: 400;

// screen size //

$desktop: 1170px;
$tablet: 1024px;
$mobile: 580px;

// colors //

$titleCol: #000000;
$nameCol: #FFFFFF;
$dateCol: #E0E0E0;
$backgrhovCol: #E0E0E0;
$backgractCol: rgba(224, 224, 224, 0.5);
$gradCol: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);