//screen

$desktop: 1170px;
$margin: 0 auto;

//fonts

$text:'Montserrat', sans-serif;
$sign:'Montserrat', sans-serif;

//colors

$white: #FFFFFF;
$green: #6FCF97;
$red: #EA5455;
$yellow: #F2C94C;

$gray1: #4F4F4F;
$gray2: #828282;
$gray3: #BDBDBD;

$purple1: #392C72;
$purple2: #9E8CFC;

$blue1: #283046;
$blue2: #161D31;