//main

@mixin font($fontFamily, $fontSize, $fontWeight, $lineHeight, $letterSpacing) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin text ($colorText: $color) {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: $colorText;
}

@mixin link {
    text-decoration: none;
}

@mixin max-width($screen) {
    @media (max-width: $screen) {
        @content;
    }
}

@mixin media($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

//others

@mixin transition($time) {
    transition: all $time ease;
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin placeholder($col) {
    &::placeholder,
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-moz-placeholder,
    &:-ms-input-placeholder {
        color: $col;
    }
}

//container 

@mixin container ($screen) {
    margin: 0 auto;
    width: 90%;
    max-width: $screen;
}

@mixin container-left($screen,$left) {
    margin: auto;
    max-width: $screen;
    text-align: $left;
}

@mixin container-center($desktop,$center) {
    margin: auto;
    width: 90%;
    max-width: $desktop;
    text-align: $center;
}

//flex

@mixin flex-start {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-left-column {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

@mixin flex-between() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-end {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

//rotate, resize, scale

@mixin rotate($deg) {
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
}

@mixin resize($res) {
    transform: scale($res);
    -webkit-transform: scale($res);
    -moz-transform: scale($res);
    -ms-transform: scale($res);
    -o-transform: scale($res);
}

@mixin scale ($sc) {
    transform: scale($sc);
    -webkit-transform: scale($sc);
    -moz-transform: scale($sc);
    -ms-transform: scale($sc);
    -o-transform: scale($sc);
}