//fonts
$Aleo: 'Aleo', serif;
$Josef: 'Josefin Sans', sans-serif;

//screen sizes
$desktop1: 1920px;
$desktop2: 1360px;
$desktop3: 1024px;
$tablet: 768px;
$mobile: 576px;

//colors
$textC:#FFFFFF;
$placeholderC: #999999;
$grayC: #333333;
$blueC: #5373FD;
$bookC: #486BFE;
$insertsC: #232323e6;
$greenC: #48e748;
$footerC: #000000;

//containers
$desktop1Cont: 1320px;
$desktop2Cont: 1140px;
$desktop3Cont: 960px;
$tabletCont: 720px;
$mobileCont: 540px;