*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animate__animated.animate__pulse {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/*header*/

.header {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/header/header_1920px.png);
}

.header .header__container {
  margin: 0 auto;
  padding-top: 295px;
  padding-bottom: 120px;
  width: 90%;
  max-width: 1320px;
  text-align: center;
}

.header .header__container-title {
  margin: 0px auto 8px auto;
  width: 301px;
}

.header .header__container-title .title__text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header .header__container-title1 {
  margin: 0px auto 48px auto;
  width: 352px;
}

.header .header__container-title1 .title1__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.31em;
  font-style: normal;
  color: #FFFFFF;
}

.header .header__container-search {
  margin: 0 auto;
  width: 647px;
  height: 60px;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.header .header__container-search .search__form {
  padding: 20px 180px 20px 36px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-style: normal;
  border: none;
  outline: none;
  color: #999999;
  opacity: 1;
}

.header .header__container-search .search__form::-moz-placeholder,
.header .header__container-search .search__form:-ms-input-placeholder,
.header .header__container-search .search__form::placeholder,
.header .header__container-search .search__form::-webkit-input-placeholder,
.header .header__container-search .search__form::-moz-placeholder,
.header .header__container-search .search__form:-moz-placeholder,
.header .header__container-search .search__form:-ms-input-placeholder {
  color: #999999;
}

.header .header__container-search .search__form:focus::-webkit-input-placeholder,
.header .header__container-search .search__form:focus::-moz-placeholder,
.header .header__container-search .search__form:focus:-moz-placeholder,
.header .header__container-search .search__form:focus:-ms-input-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header .header__container-search .search__button {
  top: 4px;
  right: 5px;
  bottom: 4px;
  padding: 18px 24px;
  width: 139px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  outline: none;
  border: none;
  overflow: hidden;
  cursor: pointer;
  background-color: #5373FD;
}

.header .header__container-search .search__button:after {
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -70%;
  position: absolute;
  content: '';
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
  -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
  -moz-transform: rotateZ(60deg) translate(-5em, 7.5em);
  -ms-transform: rotateZ(60deg) translate(-5em, 7.5em);
  -o-transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.header .header__container-search .search__button:hover:after, 
.header .header__container-search .search__button:focus::after {
  animation: sheen 1s forwards infinite;
  -webkit-animation: sheen 1s forwards;
}

.header .header__container-search .search__button:active {
  transform: scale(1.03);
}

.header .header__container-search .search__button-image {
  height: 100%;
  fill: #FFFFFF;
}

.header .header__container-search .search__button-text {
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header .header__container-scroll {
  margin: 211px auto 0;
  width: 105px;
  height: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.header .header__container-scroll .scroll__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}

.header .header__container-scroll .scroll__chevron {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.header .header__container-scroll .scroll__chevron-sign {
  width: 14px;
  position: absolute;
  fill: #FFFFFF;
  animation: slidedownup 1.5s infinite linear;
  -webkit-animation: slidedownup 1.5s infinite linear;
  
}

#burger {
  position: absolute;
  visibility: hidden;
}

#burger:checked ~ .menu > .menu__container > .burger__button > .burger__button-content {
  background-color: transparent;
}

#burger:checked ~ .menu > .menu__container > .burger__button > .burger__button-content::before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#burger:checked ~ .menu > .menu__container > .burger__button > .burger__button-content::after {
  top: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
#burger:checked ~ .menu > .menu__container-burger > .navigation__list {
  top: -1px;
  right: 0;
  padding: 32px 0;
  height: 214px;
  opacity: 1;
  z-index: 2;
  background-color: #5373FD;
}

#burger:checked ~ .menu > .menu__container-burger > .navigation__list > .chapter > .link {
  color: #FFFFFF;
}

#burger:checked ~ .main > .main__container-why {
  padding-top: 214px;
}

/*menu*/

.menu {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  background-color: #5373FD;
}

.menu .menu__container {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 90%;
  max-width: 1320px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu .menu__container-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.menu .menu__container-logo__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.menu .menu__container-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.menu .menu__container-navigation .navigation__list {
  margin-left: 20px;
  display: inline-flex;
  list-style: none; 
}

.menu .menu__container-navigation .chapter {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.menu .menu__container-navigation .chapter:hover .line,
.menu .menu__container-navigation .chapter:focus .line {
  left: 0;
}

.menu .menu__container-navigation .chapter + .chapter {
  margin-left: 40px;
}

.menu .menu__container-navigation .link {
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.menu .menu__container-navigation .line {
  top: 19px;
  left: -200px;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0px 0px 3px #FFFFFF;
  transition: all 0.3s ease;
  content: '';
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.menu .menu__container .burger__button {
  right: 0;
  width: 40px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.menu .menu__container .burger__button > .burger__button-content, 
.menu .menu__container .burger__button > .burger__button-content::before, 
.menu .menu__container .burger__button > .burger__button-content::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  transition-duration: 0.25s;
}

.menu .menu__container .burger__button .burger__button-content::before {
  top: -12px;
  background-color: #FFFFFF;
  content: "";
}

.menu .menu__container .burger__button .burger__button-content::after {
  top: 12px;
  background-color: #FFFFFF;
  content: "";
}

.menu .menu__container-burger {
  position: relative;
}

.menu .menu__container-burger .navigation__list {
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  list-style: none;
  background-color: #5373FD;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  top: 0px;
  opacity: 0;
  z-index: -1;
}

.menu .menu__container-burger .link {
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  text-decoration: none;
  transition-duration: 0.25s;
  overflow: hidden;
}

.menu .menu__container-burger .line {
  bottom: 0;
  left: -150px;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #FFFFFF;
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease;
  content: '';
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  
}

.menu .menu__container-burger .chapter {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu .menu__container-burger .chapter + .chapter {
  margin-top: 20px;
}

.menu .menu__container-burger .chapter:hover .line,
.menu .menu__container-burger .chapter:focus .line {
  left: 0px;
  opacity: 1;
  z-index: 1;
}

/*main*/

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}

.main__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.main__container .container__background {
  top: 0;
  height: 100%;
  display: flex;
  position: absolute;
  z-index: -2;
}

.main__container .container__content {
  margin: 0 auto;
  width: 90%;
  max-width: 1320px;
}

.main__container-why .container__content {
  padding: 124px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__container-why .content__text {
  width: 648px;
  transition: 1s ease;
}

.main__container-why .content__text-title h2 {
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  color: #FFFFFF;
}
.main__container-why .content__text-description {
  margin: 24px 0 32px;
}

.main__container-why .content__text-description .content__text-note {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-style: normal;
  color: #FFFFFF;
}

.main__container-why .content__text-description .content__text-note + .content__text-note {
  margin-top: 43px;
}

.main__container-why .content__image {
  margin-left: 24px;
  width: 424px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 1s ease;
}

.main__container-why .content__image-photo {
  display: flex;
  transition: 1s ease;
}

.main__container-why .content__image-photo + .content__image-photo {
  margin-top: 16px;
  padding-left: 74px;
}

.main__container-steps {
  width: 100%;
  background-color: #333333;
  
}
.main__container-steps .container__content {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.main__container-steps .container__content-lines {
  width: 66.0606060606%;
  height: 90px;
  position: absolute;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.main__container-steps .container__content-lines .lines__image {
  width: 100%;
  height: 100%;
}

.main__container-steps .container__content-chapter {
  width: 84%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.main__container-steps .container__content-chapter .chapter__element {
  padding-top: 47px;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.main__container-steps .container__content-chapter .chapter__element-icon {
  margin-bottom: 4px;
  padding: 16px;
  width: 96px;
  height: 96px;
  display: flex;
  border-radius: 50%;
  z-index: 2;
  background-color: #333333;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main__container-steps .container__content-chapter .chapter__element-icon .icon {
  width: 100%;
}

.main__container-steps .container__content-chapter .chapter__element-text {
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  color: #FFFFFF;
}

.main__container-steps .container__content-chapter .chapter__element + .chapter__element {
  margin-left: 24px;
}

.main__container-books {
  padding: 220px 0 120px 0;
}

.main__container-books .container__content-article {
  width: 648px;
  padding: 44px 32px;
  z-index: 0;
  background-color: rgba(35, 35, 35, 0.9);
}

.main__container-books .container__content-article .article__title1,
.main__container-books .container__content-article .article__title,
.main__container-books .container__content-article .article__text {
  font-family: "Josefin Sans", sans-serif;
  line-height: 28px;
  font-style: normal;
  color: #FFFFFF;
}

.main__container-books .container__content-article .article__title1 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.main__container-books .container__content-article .article__title {
  margin: 16px 0;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.main__container-books .container__content-article .article__text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.main__container-books .container__content--first {
  display: flex;
  justify-content: flex-start;
  z-index: 0;
}
.main__container-books .container__content--second {
  display: flex;
  justify-content: flex-end;
}

.main__container-review {
  padding: 120px 0 180px;
}

.main__container-review .container__content-response {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__container-review .container__content-response .response__title {
  margin-bottom: 60px;
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  color: #FFFFFF;
}

.main__container-review .container__content-response .response__content {
  display: grid;
  grid-template-columns: repeat(3, 33.3333333333%);
  grid-auto-rows: auto;
}

.main__container-review .container__content-response .response__content-image {
  grid-column: 1/span 1;
  grid-row: 1/span 2;
}

.main__container-review .container__content-response .response__content-image .image__user {
  width: 100%;
}

.main__container-review .container__content-response .response__content-image .image__user img {
  width: 100%;
  height: 100%;
}

.main__container-review .container__content-response .response__content-article {
  padding: 48px 60px;
  text-align: left;
  background-color: #333333;
  grid-column: 2/span 2;
}

.main__container-review .container__content-response .response__content-article:hover .article__text-icon {
  fill: #48e748;
}

.main__container-review .container__content-response .response__content-article:focus .article__text-icon {
  fill: #48e748;
}

.main__container-review .container__content-response .response__content-article .article__title,
.main__container-review .container__content-response .response__content-article .article__text {
  font-family: "Josefin Sans", sans-serif;
  line-height: 28px;
  font-style: normal;
  color: #FFFFFF;
}

.main__container-review .container__content-response .response__content-article .article__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.main__container-review .container__content-response .response__content-article .article__text {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.main__container-review .container__content-response .response__content-article .article__text-icon {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  fill: #5373FD;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

/* footer */

.footer {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  background-color: #000000;
}

.footer__container {
  margin: 0 auto;
  padding: 80px 0;
  width: 90%;
  max-width: 1320px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__container-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__container-title1 {
  margin: 8px 0 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-style: normal;
  color: #FFFFFF;
}

.footer__container-socials,
.footer__container-socials .socials__element {
  display: inline-flex;
}

.footer__container-socials .socials__element + .socials__element {
  margin-left: 32px;
}

.footer__container-socials .socials__element-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container-socials .socials__element-link:hover .socials__element-logo,
.footer__container-socials .socials__element-link:focus .socials__element-logo,
.footer__container-socials .socials__element-link:active .socials__element-logo {
  fill: #5373FD;
}

.footer__container-socials .socials__element-logo {
  height: 32px;
  display: inline-flex;
  fill: #FFFFFF;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* content */

.content__text-link {
  background-image: url(../images/Rectangle.png);
  padding: 20px 32px;
  height: 60px;
  width: 213px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.content__text-link span {
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.07em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.content__text-link:before, 
.content__text-link:after {
  height: 60px;
  width: 213px;
  display: block;
  position: absolute;
  z-index: -2;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  content: "";
}

.content__text-link:before {
  top: 0;
  left: -100%;
  z-index: -1;
  background-color: #486BFE;
}

.content__text-link:after {
  top: 0;
  left: 0;
  background-color: #5373FD;
}

.content__text-link:hover:before,
.content__text-link:focus:before {
  left: 0;
}

.content__text-link:hover:after,
.content__text-link:focus:after{
  left: 213px;
}

/* media */

/* 1360px */
@media (max-width: 1360px) {
  .header .header__container {
    width: 83.8235294118%;
    max-width: 1140px;
  }
}
@media (max-width: 1360px) {
  .menu .menu__container {
    width: 83.8235294118%;
    max-width: 1360px;
  }
}
@media (max-width: 1360px) {
  .main__container .container__content {
    width: 83.8235294118%;
    max-width: 1360px;
  }
}
@media (max-width: 1360px) {
  .main__container-why .content__text {
    width: 558px;
  }
}
@media (max-width: 1360px) {
  .main__container-why .content__image {
    width: 461px;
  }
}
@media (max-width: 1360px) {
  .main__container-why .content__image-photo + .content__image-photo {
    padding-left: 111px;
  }
}
@media (max-width: 1360px) {
  .main__container-steps .container__content {
    padding: 80px 0 45px 0;
  }
}
@media (max-width: 1360px) {
  .main__container-steps .container__content-lines {
    width: 65.9649122807%;
  }
}
@media (max-width: 1360px) {
  .main__container-books .container__content-article {
    width: 558px;
  }
}
@media (max-width: 1360px) {
  .main__container-review .container__content-response .response__content {
    grid-template-columns: repeat(3, 33.3333333333%);
  }
}
@media (max-width: 1360px) {
  .footer__container {
    width: 83.8235294118%;
    max-width: 1360px;
  }
}

/* 1220px */
@media (max-width: 1220px) {
  .main__container-why .content__image {
    margin-left: 24px;
    width: 40.2083333333%;
  }
}
@media (max-width: 1220px) {
  .main__container-why .content__image-photo + .content__image-photo {
    padding-left: 36px;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .header .header__container {
    width: 93.75%;
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .menu .menu__container {
    width: 93.75%;
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .main__container .container__content {
    width: 93.75%;
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .main__container-why .content__text {
    width: 550px;
  }
}
@media (max-width: 1024px) {
  .main__container-steps .container__content {
    padding: 87px 0 45px 0;
  }
}
@media (max-width: 1024px) {
  .main__container-steps .container__content-lines {
    width: 65.8333333333%;
  }
}
@media (max-width: 1024px) {
  .main__container-steps .container__content-chapter {
    width: 93%;
  }
}
@media (max-width: 1024px) {
  .main__container-books .container__content-article {
    width: 550px;
  }
}
@media (max-width: 1024px) {
  .main__container-review .container__content-response .response__content {
    grid-template-columns: repeat(3, 33.3333333333%);
  }
}
@media (max-width: 1024px) {
  .footer__container {
    width: 93.75%;
    max-width: 1024px;
  }
}

/* 995px */
@media (max-width: 995px) {
  .main__container-why .content__image-photo + .content__image-photo {
    padding-left: 0;
  }
}

/* 920px */
@media (max-width: 920px) {
  .main__container-why .container__content {
    flex-direction: column-reverse;
    padding: 60px 0;
    text-align: center;
  }
}
@media (max-width: 920px) {
  .main__container-why .content__text {
    width: 100%;
  }
}
@media (max-width: 920px) {
  .main__container-why .content__image {
    margin-left: 0;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}
@media (max-width: 920px) {
  .main__container-why .content__image-photo {
    width: 48.3333333333%;
  }
}
@media (max-width: 920px) {
  .main__container-why .content__image-photo + .content__image-photo {
    margin-top: 0;
    margin-left: 0;
    justify-content: flex-end;
  }
}

/* 900px */
@media (max-width: 900px) {
  .main__container-steps .container__content-chapter {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .main__container-review .container__content-response .response__content {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 900px) {
  .main__container-review .container__content-response .response__content-image {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
}
@media (max-width: 900px) {
  .main__container-review .container__content-response .response__content-article {
    grid-column: 1/span 1;
    grid-row: 2;
  }
}

/* 819px */
@media (max-width: 819px) {
  .menu .menu__container {
    flex-direction: column;
  }
}
@media (max-width: 819px) {
  .menu .menu__container-navigation {
    margin-top: 32px;
  }
}
@media (max-width: 819px) {
  .menu .menu__container-navigation .navigation__list {
    margin-left: 0;
  }
}

/* 768px */
@media (max-width: 768px) {
  .header .header__container {
    width: 93.75%;
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .header .header__container-search {
    width: 540px;
  }
}
@media (max-width: 768px) {
  .menu .menu__container {
    width: 93.75%;
    max-width: 768px;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .main__container .container__content {
    width: 93.75%;
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .main__container-why .content__text-description {
    margin: 24px 0;
  }
}
@media (max-width: 768px) {
  .main__container-why .content__image-photo {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .main__container-why .content__image-photo img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main__container-why .content__image-photo + .content__image-photo {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .main__container-steps .container__content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .main__container-steps .container__content-lines {
    width: 0;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .main__container-steps .container__content-chapter {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .main__container-steps .container__content-chapter .chapter__element {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .main__container-steps .container__content-chapter .chapter__element + .chapter__element {
    margin-top: 60px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .main__container-books {
    padding: 120px 0;
  }
}
@media (max-width: 768px) {
  .main__container-books .container__content-article {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main__container-books .container__content-article .article__text {
    margin-bottom: 28px;
  }
}
@media (max-width: 768px) {
  .main__container-review {
    padding: 60px 0 120px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    width: 93.75%;
    max-width: 768px;
  }
}

/* 620px */
@media (max-width: 620px) {
  .menu .menu__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 620px) {
  .menu .menu__container-navigation {
    display: none;
  }
}
@media (max-width: 620px) {
  .menu .menu__container .burger__button {
    position: absolute;
    opacity: 1;
    right: 0;
    visibility: visible;
  }
}

/* 576px */
@media (max-width: 576px) {
  .header .header__container {
    width: 93.75%;
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .header .header__container-search {
    width: 85%;
  }
}
@media (max-width: 576px) {
  .header .header__container-search .search__form {
    padding-left: 10px;
    padding-right: 155px;
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  .menu .menu__container {
    width: 93.75%;
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .main__container .container__content {
    width: 93.75%;
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .main__container-why .content__text-description {
    margin: 19px 0 24px;
  }
}
@media (max-width: 576px) {
  .main__container-why .content__text-description .content__text-note + .content__text-note {
    margin-top: 37px;
  }
}
@media (max-width: 576px) {
  .main__container-why .content__image {
    margin-bottom: 37px;
  }
}
@media (max-width: 576px) {
  .main__container-why .content__image-photo {
    width: 47.7777777778%;
  }
}
@media (max-width: 576px) {
  .footer__container {
    width: 93.75%;
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .footer__container-socials .socials__element {
    flex-direction: column;
  }
}

/* keyframes */

@keyframes slidedownup {
  0%, 100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  50% {
    transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
  }
}

@-webkit-keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

/*# sourceMappingURL=app.css.map */

