
$desktop: 1170px;
$section:1030px;
$header: 450px;
$margin: 0 auto;

$fonttext:'Raleway';
$fonttitle: 'Roboto';
$fontbutton: 'Open Sans';

$title-FS:60px;
$text-FS: 18px;
$userName-FS:36px;
$userJob-FS:24px;
$userText-FS:14px;
$button-FS:14px;

$title-FW: 900;
$text-FW: 500;
$userJob-FW: 400;
$button-FW: 700;

$title-LH: 110%;
$text-LH: 133%;
$userName-LH: 42px;
$userJob-LH: 150%;
$userText-LH: 171%;
$button-LH: 14px;

$sub-textCol: #898F8F;
$title-textCol:#FFCC00;
$socialsDefaultCol:#CCCCCC;
$socialsHoverCol:#FFCC00;
$userNameCol: #666666;
$userTextCol: #333333;
$socialsCol:#CCCCCC;
$buttonCol: #666666;

$orange: 1px solid #FFCC00;
$gray: 1px solid #666666;

$transition: 0.3s;

